__pycache__/
.venv/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
.DS_Store
.idea/
.vscode/
*.env
*.egg-info/
dist/
build/
*.egg
*.tar.gz
*.whl
coverage/
htmlcov/
*.coverage
*.coveragerc
*.pytest_cache/
.pytest_cache/
logs/